#kentaro {
	-webkit-animation: rotation 2s infinite linear;
	animation: rotation 2s infinite linear;
	position: relative;
	z-index: 1;
	cursor: pointer;
}

@-webkit-keyframes rotation {
	from {
		-webkit-transform: rotate(0deg);
	}

	to {
		-webkit-transform: rotate(359deg);
	}
}

@keyframes rotation {
	from {
		-webkit-transform: rotate(0deg);
	}

	to {
		-webkit-transform: rotate(359deg);
	}
}

* {
	margin: 0;
	padding: 0;
}

html, body {
	width: 100%;
	height: 100%;
	background-color: black;
}

body {
	height: 100vh;
	color: white;
	touch-action: manipulation;
	overflow: hidden;
}

#logo {
	font-size: 90px;
	font-family: Arial;
}

#logoWrapper {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-top: -70px;
}

#score {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-top: -40px;
	font-size: 90px;
	font-family: Arial;
}

#tip {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-family: Arial;
}

#callout > #sponsored {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-family: Arial;
	font-size: 0.8em;
}

#sponsored:last-child {
	padding: 10px;
}

#musicPlayer {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

a:link, :active, :visited, :hover {
	color: white;
}
